<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boot.mystaic.myweb.mapper.BookTypeMapper">
    <insert id="add" parameterType="boot.mystaic.myweb.pojo.BookType" keyProperty="booktypeid">
insert into booktype (booktypeid,booktypeName)values (#{bookTypeID},#{bookTypeName,jdbcType=VARCHAR})
    </insert>

    <select id="getAll" resultType="boot.mystaic.myweb.pojo.BookType">
        select * from booktype
    </select>

</mapper>