<!DOCTYPE html>
<html lang="en">
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="UTF-8">
    <title>显示图书详情</title>
    <!--<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>-->
    <!--<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>-->
    <!--<link th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}" rel="stylesheet">-->
    <script src="/jquery-easyui/jquery.min.js"></script>
    <script src="/jquery-easyui/jquery.easyui.min.js"></script>
    <link rel="stylesheet" href="/jquery-easyui/themes/default/easyui.css">
</head>
<body>
<div class="layout-panel-east">
    <form >
        <table class="datagrid">
            <tr>
                <td>图书名称</td>
                <td>
                    <input id="bookName" name="bookName" class="textbox-text" data-options="prompt:'请输入图书名称关键字...'">
                </td>
                <td>出版社</td>
                <td>
                    <input id="publishment" name="publishment" class="textbox-text" data-options="prompt:'请输入出版社关键字...'">
                </td>
                <td>
                    <a href="#"  data-options="iconCls:'icon-search'" style="width: 80px">search</a>
                    <input class="searchbox-button"  type="button" style="width: 80px" onclick="readData()">
                </td>
            </tr>
        </table>

        <div id="tableP">
            <table id="dg" class="datagrid-view">
                <thead class="datagrid-header">
                <tr>
                    <th data-options="field:'itemid',width:180">编号</th>
                    <th>名称</th>
                    <th>类名</th>
                    <th>出版社</th>
                    <th>出版时间</th>
                    <th>作者</th>
                    <th>价格</th>
                    <th>用户编号</th>
                    <th>出借时间</th>
                </tr>
                </thead>
                <tbody class="datagrid-body"></tbody>
            </table>
        </div>

    </form>
    <hr/>
</div>
</body>
<script>
    function showData(data) {
        console.log("接收到数据，填充表格");
        var str = "";
        var tb = $("#dg");
        console.log("找到table");
        $("#dg tbody").html('');
        var trtd = "<td>";
        var trtdEnd = "</td>" + trtd;
        for (var i = 0; i < data.length; i++) {
            str = "<tr>" + trtd + data[i].bookID + trtdEnd + data[i].bookName + trtdEnd + data[i].bookTypeID + trtdEnd + data[i].publishment + trtdEnd +formatDate(data[i].publishDate) + trtdEnd + data[i].author + trtdEnd + data[i].price + trtdEnd + data[i].userCode + trtdEnd + formatDate(data[i].borrowDate) + "</td></tr>";
            tb.append(str);
        }
    }

    function readData() {
        console.log("开始发送提交信息");
        var name = $("#bookName").val();
        var pub = $("#publishment").val();
        var parms = {bookName: name, publishment: pub};
        console.log("name:" + name + ",pub:" + pub);
        $.ajax({
            url: "/book/list",
            type:"post",
            dataType: "json",
            // data: JSON.stringify(parms),
            // type: "get",
            data:{"bookName":name,"publishment":pub},
            success: function (data) {
                /*这个方法里是ajax发送请求成功之后执行的代码*/
                showData(data);//我们仅做数据展示
            },
            error: function (msg) {
                alert("ajax连接异常：" + msg);
            }
        });
    }

    function formatDate(dateArg) {
        var date = new Date(dateArg);
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        var formatMonth = month < 10 ? '0'+month : month;
        var formatDay = day < 10 ? '0'+day : day;

        return year+"-"+formatMonth+"-"+formatDay;
    }

    $(document).ready(readData());
</script>
</html>